<!DOCTYPE html>
<html lang="en">
<head>
    <title>TelCon</title>
    <link rel="stylesheet" href="../static/main.css" />
    <link rel="stylesheet" href="../static/bootstrap.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="with=device-width, initial-scale=1.0, maximum-sclae-1.0" />
    <title>Telcom</title>
</head>
<body>
    <section class="bg">
        <div class="login">
            <img class="usuario" src="../static/images/user.png" />
            <form action="/autenticar" method="POST">
                <input type="text" required maxlength="3" name="user" placeholder="ID" />
                <input type="password" required maxlength="4" name="pass" placeholder="Senha" />
                <input type="submit" name="logar" value="Entrar" />
            </form>
        </div><!--form login-->
    </section><!--background-->
</body>
</html>