<!DOCTYPE html>
<html lang="en">
<head>
    <title>TelCon</title>
    <link rel="stylesheet" href="../static/main.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="with=device-width, initial-scale=1.0, maximum-sclae-1.0" />
    <title>Telcom</title>
</head>
<body>
    <section class="bg">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list_unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="login">
            <img class="usuario" src="../static/images/user.png" />
            <form action="/autenticar" method="POST">
                <input type="text" name="user" placeholder="ID" />
                <input type="text" name="pass" placeholder="Senha" />
                <input type="submit" name="logar" value="Entrar" />
            </form>
        </div><!--form login-->
    </section><!--background-->
</body>
</html>